/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

.pointer{
    cursor: pointer;
}

.theme-color{
    /* color: #d3ead6; */
    color: #0d594c;
}

.theme-btn{
    background-color: #0d594c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
}

.underline{
    text-decoration: underline solid #0d594c 20%;
    padding-top: 4%;
}

input[type=text]:focus {
    outline: 2px solid #d3ead6;
    /* oranges! yey */
}
input[type=file]:focus {
    outline: 2px solid #d3ead6;
}